.guide-wrap {
  padding: 30px;

  .guide-area {
    &>li {
      padding: 20px 0;
      border-bottom: 2px solid black;

      &>h3 {
        font-size: 24px;
      }

      .guide-box {
        margin-top: 10px;
      }
    }
  }
}

.flex-area {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-height: 40px;

  .left-box {
    margin-inline-end: auto;
  }

  .right-box {
    display: flex;
    align-items: center;

    &>*+* {
      margin-left: 4px;
    }
  }

}

.essential {
  vertical-align: top;
  font-size: 14px !important;
  color: $color-point-1;
}