.main-wrap {
  position: relative;
  padding-top: 60px;
  padding-left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;

  &.active {
    padding-left: 250px;
  }
}

.header-wrap {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 24px 0 10px;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);

  .btn-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .logo {
    margin-left: 10px;

    button {
      position: relative;
      display: block;
      width: auto;
      height: 28px;
      font-size: 17px;
      font-weight: 600;
      color: $color-black;
      box-shadow: none;
    }
  }

  .gnb-area {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 100px;
    height: 100%;

    li {
      height: 100%;

      button {
        padding: 0 20px;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        color: $color-black;

        &.active {
          color: $primary-1;
        }
      }
    }
  }

  .util-area {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .btn-profile {
      display: flex;
      align-items: center;

      .txt {
        margin-left: 8px;
      }
    }

    .log-area {
      margin-left: 12px;
    }
  }
}

.lnb-wrap {
  opacity: 0;
  position: absolute;
  top: 60px;
  left: -100%;
  padding: 10px 0;
  width: 250px;
  height: calc(100% - 60px);
  background: #fff;
  transition: all 0.2s;

  &.active {
    opacity: 1;
    left: 0;
  }

  .MuiTreeItem-content {
    flex-direction: row-reverse;
    padding: 0;
    height: 40px;

    .MuiTreeItem-label {
      font-family: 'Pretendard' !important;
    }

    &.Mui-selected .MuiTreeItem-label {
      color: $primary-1;
      font-weight: 600 !important;
    }
  }

  // 1뎁스 선택자
  ul.lnb-area>li>.MuiTreeItem-content {
    padding: 0 10px 0 30px;

    &.Mui-expanded .MuiTreeItem-label {
      color: $primary-1;
      font-weight: 600;
    }
  }

  ul.lnb-area>li>.MuiTreeItem-groupTransition {
    padding: 0;
  }

  // 2뎁스 선택자
  ul.lnb-area>li>.MuiTreeItem-groupTransition .MuiTreeItem-root>.MuiTreeItem-content {
    padding: 0 10px 0 40px;
  }

}

.page-wrap {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;

  .page-header {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.section-title {
  h3 {
    margin-bottom: 16px;
  }
}

.form-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &+.form-box {
    margin-top: 20px;
  }

  &>* {
    width: calc(25% - 20px);
  }

  &.col-1>* {
    width: 100%;
  }

  &.col-2>* {
    width: calc(50% - 20px);
  }

  &>*+* {
    margin-left: 20px;
  }

}

.flex-side-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  .left-area {
    margin-inline-end: auto;
  }

  .right-area {
    display: flex;
    align-items: center;

    *+* {
      margin-left: 10px;
    }
  }
}