* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Pretendard' !important;
  font-weight: 400;
  letter-spacing: 0;
  color: $color-black;
  background: $color-bg-1;
}

button,
input,
label,
select,
a {
  font-family: 'Pretendard' !important;
  letter-spacing: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  font-size: 14px;
  font-family: 'Pretendard' !important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

}

ul,
dl,
ol {
  list-style: none;
}

.blind {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}