.card-wrap {
  margin-bottom: 30px;

  .card-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    padding: 20px;
    border: 1px solid $color-gray-2;
    background: $color-white;
    border-radius: 4px;

    &>li {
      width: 100%;

      &>strong {
        display: block;
        padding-left: 3px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
        color: $color-gray-1;
      }

      &>p {
        font-size: 15px;
        font-weight: 600;
        color: $color-black;
      }

    }
  }
}