.chatbot-wrap{
  position:relative; display:flex; flex-direction: column; padding:20px; padding-bottom:50px; height:calc(100vh - 200px); border-radius:20px; background:#efefef;

  .chatbot-body{
    overflow-x:hidden; overflow-y:auto; padding:10px; height:100%; border:1px solid #888;

    .result-box + .result-box{margin-top:20px;}

    .com-chatbot-text{
      padding:10px; border:1px solid #666; background:pink;
    }

    .com-chatbot-source{
      display:flex; justify-content: center; margin-top:20px;
      .video-area{
        padding:20px; width:700px; height:360px;  background:#555;
        .frame-box{width:100%; height:100%;}
      }
    }

  }
  .chatbot-input{
    position:absolute; bottom:0; left:0; right:0; padding-top:10px; width:100%; height:40px; border-top:1px solid #888;
    input{display:block; padding:0 10px; width:100%; height:100%; }
  }

}