.grid-wrap {
  position: relative;
  margin-bottom: 30px;
  padding-top: 50px;
  border-radius: 4px;
  background: $color-white;
  border-radius: 4px;
  border: 1px solid $color-gray-2;

  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   content: '';
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   border: 1px solid $color-gray-2;
  //   border-radius: 4px;
  // }

  .flex-side-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    min-height: 30px;
  }

}

.grid-area {
  border: 0;


  .MuiDataGrid-main {
    position: relative;
    min-height: 150px;

    &:before {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $color-gray-2;
    }
  }

  .MuiDataGrid-virtualScroller {
    border-radius: 0 !important;
  }

  .MuiDataGrid-container--top [role=row] {
    background: $color-bg-3;
  }

  .MuiDataGrid-topContainer {

    &:after {
      display: none;
    }
  }

  // 해더 셀
  .MuiDataGrid-columnHeader {
    //border-bottom: 1px solid $color-gray-2;

    &+.MuiDataGrid-columnHeader {
      border-left: 1px solid $color-gray-2;
    }

    .MuiDataGrid-columnSeparator {
      .MuiSvgIcon-root {
        opacity: 0;
      }
    }

    .MuiDataGrid-columnHeaderTitle {
      font-weight: 600;
    }

    .MuiDataGrid-columnHeaderTitleContainer {
      //flex-direction: row !important;
    }
  }

  .MuiDataGrid-filler {
    border-left: 1px solid $color-gray-2;
  }

  .MuiDataGrid-row {
    .MuiDataGrid-cell+.MuiDataGrid-cell {
      border-left: 1px solid $color-gray-2;
    }

    .MuiDataGrid-cell {
      padding: 0 10px !important;
    }
  }

  .MuiDataGrid-columnHeaderDraggableContainer {
    padding: 0 10px !important;
  }

}