/* 다이올로그 스타일 초기화 */

.MuiBackdrop-root {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
}

.MuiDialog-container {
  display: block;
  width: 100%;
  height: 100%;
}

.MuiDialog-root {
  &.size-small {
    .MuiPaper-root {
      width: 480px !important;
      max-width: 480px !important;
      max-height: 380px !important;

      .popup-body {
        max-height: 240px !important;
      }
    }
  }

  .MuiPaper-root {
    overflow: hidden !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px !important;
    max-width: 960px !important;
    height: auto !important;
    max-height: 100% !important;
  }
}

.popup-area {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;

  .popup-header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    min-height: 60px;

    .tit {
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .popup-body {
    overflow-y: auto;
    padding: 10px 24px;
    width: 100%;
    max-height: calc(100vh - 180px);

  }

  .popup-footer {
    padding: 10px 16px;
    width: 100%;
    height: 60px;
  }

}