.search-area {
  padding: 20px;
  border: 1px solid $color-gray-2;
  background: $color-white;
  border-radius: 4px;
}

.search-wrap {
  margin-bottom: 30px;

  .flex-side-area {
    margin-top: 6px;
  }
}