.table-wrap {
  margin-bottom: 30px;

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 0 10px;
    height: 40px;
    border: 1px solid $color-gray-2;
    word-wrap: break-word;
  }

  thead {
    th {
      background: $color-bg-3;
    }
  }
}