.input-box {
  position: relative;
  width: 100%;
  height: 30px;

  .MuiFormLabel-root {
    transform: translate(14px, 5px) scale(1);
    background: #fff;
    font-weight: 600;
    color: $color-gray-1;

    // 포커싱 되었을때 label
    &.MuiInputLabel-shrink {
      transform: translate(14px, -7px) scale(0.75);
      color: $primary-1;
    }
  }

  .MuiInputBase-root {
    height: 100%;
    border: 1px solid $color-gray-2;

    .MuiInputBase-input {
      padding: 0 10px;
      height: 100%;
    }

    .MuiOutlinedInput-notchedOutline {
      margin-inline-start: 0 !important;
      margin-inline-end: 0 !important;
      padding-block-start: 0 !important;
      padding-inline-start: 0 !important;
      padding-inline-end: 0 !important;
      padding-block-end: 0 !important;
      min-inline-size: unset !important;

      top: 0;
      height: 100%;
      border: 0 !important;

    }

    &.Mui-focused {
      border-color: $primary-1;
    }
  }
}