.select-box {
  position: relative;
  height: 30px;

  .select-label {
    top: -10px;

    &.Mui-focused {
      top: 0px;
    }

    &.MuiFormLabel-filled {
      top: 0px;
    }
  }

  .MuiInputBase-root {
    height: 100%;

    .MuiSelect-select {
      padding: 0 14px !important;
    }

    legend {
      margin-left: 10px;

      span {
        padding-right: 4px;
      }
    }
  }
}

.MuiPaper-root {}

.MuiPaper-root .MuiList-root {}

.MuiPaper-root .MuiList-root .MuiButtonBase-root {
  padding: 10px;
}